table{
	max-width: 890px;
	margin-left: auto;
	margin-right: auto;
	font-family: arial, sans-serif;
	border-collapse: collapse;
    
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    padding-right: 30px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
tr:nth-child(odd){
	background-color: white;
}